nav {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

nav .item {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

nav .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 10px;
    display: none; /* Initially hidden */
}

nav .dropdown div {
    display: flex;
    flex-direction: column;
}

nav .item:hover .dropdown {
    display: block; /* Show dropdown on hover */
}

nav .item:hover a {
    background-color: transparent; /* Remove background color on hover */
}

.underline {
    height: 3px;
    background-color: #ffffff;
    width: 100%;
    margin-top: 5px;
}
