.slider {
    position: relative;
    width: 300px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 900px;
    transition: transform 2s ease;
}

.slide {
    width: 300px;
    height: 200px; 
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: rgb(0, 0, 0);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
